@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #6a8cff;
    /* Azul Claro */
    --secondary-color: #3b3f5c;
    /* Gris Azulado */
    --accent-color: #ff6f61;
    /* Coral Suave */
    --background-color: #f4f4f4;
    /* Gris Claro */
    --text-color: #333333;
    /* Gris Oscuro */

}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1000;
    /* border-bottom: 2px solid var(--primary-color); */
}

.logo-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar {
    background: #ffffff;
    padding: 20px;
    width: 80px;
    min-height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-right: 2px solid var(--primary-color); */
    border-radius: 15px;
    box-sizing: border-box;
}

.title {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul li {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li a {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: color 0.3s;
    padding: 10px 20px;
}

.sidebar ul li a:hover {
    color: var(--accent-color);
}

.sidebar ul li a .material-icons {
    font-size: 40px;
}

.sidebar ul li a .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #ea445a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar ul li a .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ea445a transparent transparent transparent;
}

.sidebar ul li a:hover {
    color: var(--accent-color);
}

.sidebar ul li a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.social-icons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-size: cover;
}



.container {
    margin-top: 120px;
    /* Adjust to leave space for the logo and header */
    margin-left: 80px;
    /* Space for the sidebar */
    padding: 20px;
    width: calc(100% - 80px);
    overflow-y: auto;
    max-height: calc(100vh - 120px);
    /* Make sure content is scrollable if necessary */
    box-sizing: border-box;
}


.welcome-section h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}

main {
    padding: 20px 0;
}

main h2 {
    font-size: 2.5rem;
    color: #74f0ed;
    margin-bottom: 20px;
}

header {
    padding: 5px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
    color: #74f0ed;
}

header p {
    font-size: 1.2em;
    color: #ea445a;
}

main {
    display: flex;
    flex-direction: column;
}

.welcome-section p {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
}

.item {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.item h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.game-item {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: calc(25% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: inline-block;
}

.game-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.game-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.game-item a {
    display: block;
    font-size: 1.5em;
    color: var(--primary-color);
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.2s;
}

.game-item a:hover {
    color: var(--accent-color);
}

.ads-placeholder {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px dashed #74f0ed;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    color: #74f0ed;
    font-size: 1.5em;
    min-height: 200px;
}

@media (max-width: 900px) {
    .container {
        margin-left: 0;
        width: 100%;
    }

    .sidebar {
        position: relative;
        border-right: none;
        /* border-bottom: 2px solid #74f0ed; */
    }

    .game-item {
        width: calc(100% - 40px);
    }
}

/* Estilos para el logo y el título */
.logo-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-bottom: 1rem solid var(--primary-color);
}

.title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}